<div class="container">
  <div>
    <div class="jumbotron text-center mt-3">
      <h1 class="display-4">Welcome to Blog++</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
        <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
      </p>
    </div>
    <%= link_to "View Articles", articles_path %> |
    <%= link_to "About", about_path %> 
  </div>  
</div>


<footer class="fixed-bottom flex-shrink-0 py-4 bg-dark text-white-50">
  <div class="container text-center">
    <a href="https://www.linkedin.com/in/pranav-aher-5855861a2/" target="_blank" class="text-decoration-none text-white">Copyright &copy; Pranav Aher</a>
  </div>
</footer>
